Repository hanghae99-mucosa/algorithm, pull requests merged in 2022-10, with the labels that each got.

#5 ParkSoyun: 9/29
  BOJ/[1012] 유기농 배추/soyun.java
  BOJ/[7576] 토마토/soyun.java
Labels: BOJ, Success

#4 Seungchan: 9/28
  BOJ/[2206] 벽 부수고 이동하기/seungchan.py
  Programmers/[118666] 성격 유형 검사하기/seungchan.py
Labels: BOJ, Programmers, Success

#7 Seungchan: 9/29
  BOJ/[1012] 유기농 배추/seungchan.py
  BOJ/[7576] 토마토/seungchan.py
  Programmers/[72411] 메뉴 리뉴얼/seungchan.py
Labels: BOJ, Programmers, Success

#8 Seungchan : 9/30
  Programmers/[77485] 횡렬 테두리 회전하기/seungchan.py
  Programmers/[77486] 다단계 칫솔 판매/seungchan.py
  Programmers/[77487] 헤비 유저가 소유한 장소/seungchan. sql
Labels: Programmers, Success
